.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
 
  .sidebar-link {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 8px;
  }
  
  
  .sidebar-link i {
    margin-right: 10px;
    font-size: 1.2em;
  }
  
  
  .sidebar-link:hover {
    background-color: #0b0b0c;
    transform: translateX(5px); 
  }
  
 
  .sidebar-link span {
    font-size: 1.2em;
  }
  
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
      position: fixed; 
      bottom: 0;
      left: 0;
      z-index: 1000; 
      background-color: #343a40;
      box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); 
    }
  
    .sidebar-link {
      flex: 1;
      margin-bottom: 0;
      justify-content: center;
      padding: 10px;
    }
  
    .sidebar-link:hover {
      transform: translateY(-5px); 
    }
  }